@charset "UTF-8";
/* Bootstrap color & font */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* jocoding참조 */
h1 {
	text-align: center;
	margin-top: 28px;	
	font-size: 85px;
}

h1 span:nth-child(1) {
  color: #5c6fdf;
}

h1 span:nth-child(2) {
  color: #03c75a;
}

.search-bar {
	width: 850px;
}

.boardTitle {
	width: 553px;	
	font: 1rem/1.5 var(--font-family-sans-serif);
	color: var(--blue);
}

.boardContents {
	width: 553px;	
	font: 1rem/1.5 var(--font-family-sans-serif);
	color: var(--blue);
}

.boardButton {
	text-align: right;
	width: 620px;	
}

.replyButton1 {
	border: 1px solid;
	color: var(--gray);
}

.replyButton2 {
	border: 1px solid;
	color: var(--blue);
}

.replyComments {
	width: 553px;	
	font: 1rem/1.5 var(--font-family-sans-serif);
}

/* snsStyle */
.id {
	font-size: 18px;
	font-weight: bold;
}

.date {
	font-size: 13px;
	text-align: right;
	font-weight: bold;
	font-style: italic;
	color: #5c6fdf;
}

.pageTitle {
	position: fixed; left: 0; top: 0; width: 100%; height: 52px;
	line-height: 52px; color: #343a40; text-align: center; background: #fff;}
article {
	padding: 52px 3% 0;
}
article .block {
	padding: 20px;
	min-height: 500px;
	border-bottom: 1px solid;
	border-bottom-color: #D3D3D3;
	box-shadow: 3px 3px 3px 3px gray;
	font-family: sans-serif;	
}
article .block p {
	line-height: 22px; 
	font-size: 16px; 
	font-weight: 600;
	font-family: sans-serif;
}
article .block:nth-child(2n+1) {
	font-family: sans-serif;
	width: 620px;
	box-shadow: 3px 3px 3px 3px gray;
	font-family: sans-serif;
}
article .block:nth-child(2n) {
	font-family: sans-serif;
	width: 620px;
	box-shadow: 3px 3px 3px 3px gray;
	font-family: sans-serif;
}

