<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>

		<typeAlias type="global.sesoc.brr.vo.ToiletVO" alias="toilet" />
		<typeAlias type="global.sesoc.brr.vo.BoardVO" alias="board"/>
		<typeAlias type="global.sesoc.brr.vo.ReplyVO" alias="reply"/>
		<typeAlias type="global.sesoc.brr.vo.LocationVO" alias="location"/>
		<typeAlias type="global.sesoc.brr.vo.NearbyToiletVO" alias="nearbyToilet" />
		<typeAlias type="global.sesoc.brr.vo.HospitalVO" alias="hospital" />

	</typeAliases>
	<mappers>
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/ReplyMapper.xml" />
		<mapper resource="mapper/GoogleMapsMapper.xml" />
		<!-- <mapper resource="mapper/NaverLoginMapper.xml" /> -->
		<mapper resource="mapper/ToiletMapper.xml" />
		<mapper resource="mapper/HospitalMapper.xml" />
	</mappers>
</configuration>
