<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.brr.mapper.DayAverMapper">

<insert id="insertAver" parameterType="aver">
insert into dayaver 
(
	lat, lng, toiletNm, id
) values
(
	#{lat}, #{lng}, #{toiletNm}, #{id}
)
</insert>

<select id="listAll" parameterType="double" resultType="Double">
select count(*) from dayaver
where lat = #{lat} and lng = #{lng}
</select>

<!-- 모든 기록 지우기 -->
<delete id="deleteRecord" parameterType="String">
delete from dayaver where id = #{id}
</delete>

<!-- 7일 동안 해당 화장실의 이용 횟수 -->
<select id="average" resultType="int">
SELECT
    count(*)
FROM dayaver
where lat = #{lat} and lng = #{lng}
and inputdate BETWEEN sysdate - '6' and sysdate
</select>

<!-- 변화량(최근 2일 데이터 평균) -->
<select id="average2" resultType="Double">
select trunc(count(*)/2,1) 
from dayaver
where lat = #{lat} and lng = #{lng} and
 inputdate between sysdate - '1' and sysdate
</select>

<!-- 변화량(전의 2일 데이터 평균) -->
<select id="average3" resultType="Double">
select trunc(count(*)/2,1) 
from dayaver
where lat = #{lat} and lng = #{lng} and
inputdate between sysdate - '3' and sysdate - '2'
</select>

<!-- 최근 이용한 화장실 3개 가져오기 -->
<select id="Recent" parameterType="String" resultType="aver">
select toiletnm, inputdate
from (select *  from dayaver
order by inputdate desc)dayaver
where <![CDATA[rownum < 4]]> and id = #{id}
</select>

<!-- 선호 화장실 리스트 String -->
<select id="Prefer" parameterType="String" resultType="aver">
SELECT
     toiletNm
FROM dayaver
where id = #{id}
GROUP by toiletNm
ORDER BY COUNT(toiletNm) DESC
</select>

<!-- 선호 화장실 리스트 Integer -->
<select id="Prefer2" parameterType="String" resultType="int">
SELECT
     count(toiletNm)
FROM dayaver
where id = #{id}
GROUP by toiletNm
ORDER BY COUNT(toiletNm) DESC
</select>

</mapper>