<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.brr.mapper.DayAverMapper">

<insert id="insertAver" parameterType="aver">
insert into dayaver 
(
	lat, lng, toiletnm, id
) values
(
	#{lat}, #{lng}, #{toiletnm}, #{id}
)
</insert>

<select id="listAll" parameterType="double" resultType="int">
select count(*) from dayaver
where lat = #{lat} and lng = #{lng}
</select>

<delete id="deleteRecord" parameterType="String">
delete from dayaver where id = #{id}
</delete>

<select id="getAver" parameterType = "String" resultType="aver">
select * from dayaver
where id = #{id}
</select>

<select id="average" resultType="int">
SELECT
    avg(count(*))
FROM dayaver
where lat = #{lat} and lng = #{lng}
GROUP by inputdate
having inputdate BETWEEN sysdate - '7' and sysdate
</select>




</mapper>