<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.brr.mapper.DayAverMapper">

<insert id="insertAver" parameterType="aver">
insert into dayaver 
(
	lat, lng, toiletNm, id
) values
(
	#{lat}, #{lng}, #{toiletNm}, #{id}
)
</insert>

<select id="listAll" parameterType="double" resultType="Double">
select count(*) from dayaver
where lat = #{lat} and lng = #{lng}
</select>

<delete id="deleteRecord" parameterType="String">
delete from dayaver where id = #{id}
</delete>


<select id="average" resultType="Double">
SELECT trunc(COUNT(*) / 7, 1) FROM (
SELECT
    id
FROM dayaver
where lat = #{lat} and lng = #{lng}
and <![CDATA[inputdate > (sysdate - (INTERVAL '7' DAY)) and inputdate < sysdate]]>
GROUP BY id )
</select>

<select id="average2" resultType="Double">
SELECT trunc(COUNT(*) / 2, 1) FROM (
SELECT
    id
FROM dayaver
where lat = #{lat} and lng = #{lng}
and <![CDATA[inputdate > (sysdate - (INTERVAL '2' DAY)) and inputdate < sysdate]]>
GROUP BY id )
</select>



</mapper>