<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.brr.mapper.GoogleMapsMapper">
	<select id="getNearbyToilet" parameterType="location" resultType="nearbyToilet">
		select * 
		from (
			select toiletNm, toiletType,lnmadr,unisexToiletYn, menToiletBowlNumber, menUrineNumber, menHandicapToiletBowlNumber,menHandicapUrinalNumber, menChildrenToiletBowlNumber,menChildrenUrinalNumber, ladiesToiletBowlNumber, ladiesHandicapToiletBowlNumber, ladiesChildrenToiletBowlNumber, institutionNm, phoneNumber,openTime, lat, lng, trunc(DISTANCE_WGS84(#{lat},#{lng}, lat, lng),3)*1000 as DISTANCE
			from brr_toilet
			where (lat between #{lat}-0.021 and #{lat}+0.021) and (lng between #{lng}-0.0246 and #{lng}+0.0246)
			order by DISTANCE
			)
	</select>

	<select id="searchRating" parameterType="location" resultType="toilet">
		select * 
		from (
			select TOILETNM, TOILETTYPE, LNMADR, UNISEXTOILETYN, MENTOILETBOWLNUMBER, MENURINENUMBER, MENHANDICAPTOILETBOWLNUMBER, MENHANDICAPURINALNUMBER, MENCHILDRENTOILETBOWLNUMBER, MENCHILDRENURINALNUMBER,LADIESTOILETBOWLNUMBER, LADIESHANDICAPTOILETBOWLNUMBER, LADIESCHILDRENTOILETBOWLNUMBER, INSTITUTIONNM, PHONENUMBER, OPENTIME, c.lat LAT, c.lng LNG, star, distance
			from brr_toilet c, 
			( select lat, lng, avg(star) star, distance 
			from(
				select a.lat LAT, a.lng LNG, star, DISTANCE
				from brr_toilet a,
				( select lat, lng, star, distance
				from (
						select trunc(DISTANCE_WGS84(#{lat},#{lng}, lat, lng),3)*1000 as DISTANCE, lat, lng
						from brr_toilet
						where (lat between #{lat}-0.021 and #{lat}+0.021) and (lng between #{lng}-0.0246 and #{lng}+0.0246)
						order by DISTANCE
					)
				join brr_review using(lat, lng)
				) b
			where a.lng = b.lng and a.lat = b.lat
			)
			group by lat, lng, distance
			)d
			where c.lat=d.lat and c.lng=d.lng
			order by star desc, distance
		) where rownum=1

	</select>

	<select id="searchClean" parameterType="location" resultType="toilet">
		select * 
		from (
			select TOILETNM, TOILETTYPE, LNMADR, UNISEXTOILETYN, MENTOILETBOWLNUMBER, MENURINENUMBER, MENHANDICAPTOILETBOWLNUMBER, MENHANDICAPURINALNUMBER, MENCHILDRENTOILETBOWLNUMBER, MENCHILDRENURINALNUMBER,LADIESTOILETBOWLNUMBER, LADIESHANDICAPTOILETBOWLNUMBER, LADIESCHILDRENTOILETBOWLNUMBER, INSTITUTIONNM, PHONENUMBER, OPENTIME, c.lat LAT, c.lng LNG, clean, distance
			from brr_toilet c, 
			( select lat, lng, avg(clean) clean, distance 
			from(
				select a.lat LAT, a.lng LNG, clean, DISTANCE
				from brr_toilet a,
				( select lat, lng, clean, distance
				from (
						select trunc(DISTANCE_WGS84(#{lat},#{lng}, lat, lng),3)*1000 as DISTANCE, lat, lng
						from brr_toilet
						where (lat between #{lat}-0.021 and #{lat}+0.021) and (lng between #{lng}-0.0246 and #{lng}+0.0246)
						order by DISTANCE
					)
				join brr_review using(lat, lng)
				) b
			where a.lng = b.lng and a.lat = b.lat
			)
			group by lat, lng, distance
			)d
			where c.lat=d.lat and c.lng=d.lng
			order by clean desc, distance
		) where rownum=1
	</select>
	
	<select id="searchSmooth" parameterType="location" resultType="toilet">
		select TOILETNM, TOILETTYPE, LNMADR, UNISEXTOILETYN, MENTOILETBOWLNUMBER, MENURINENUMBER, MENHANDICAPTOILETBOWLNUMBER, MENHANDICAPURINALNUMBER, MENCHILDRENTOILETBOWLNUMBER, MENCHILDRENURINALNUMBER,LADIESTOILETBOWLNUMBER, LADIESHANDICAPTOILETBOWLNUMBER, LADIESCHILDRENTOILETBOWLNUMBER, INSTITUTIONNM, PHONENUMBER, OPENTIME, LAT, LNG
        from brr_toilet join 
        	( select lat, lng 
        	  from
        	      (
        	        select * 
        	        from
        	            (
                         select trunc(DISTANCE_WGS84(#{lat},#{lng}, lat, lng),3)*1000 as DISTANCE, lat, lng
						 from brr_toilet
						 where (lat between #{lat}-0.021 and #{lat}+0.021) and (lng between #{lng}-0.0246 and #{lng}+0.0246)
						 order by DISTANCE
						 )a 
                    where a.lat not in 
                        ( 
                          select lat 
                          from
                              (
                                select trunc(DISTANCE_WGS84(#{lat},#{lng}, c.lat, c.lng),3)*1000 as DISTANCE, c.lat, c.lng
						        from brr_toilet c
						        where (c.lat between #{lat}-0.021 and #{lat}+0.021) and (c.lng between #{lng}-0.0246 and #{lng}+0.0246)
						      ) join 
                                   (
                                     select * 
                                     from dayaver
                                   ) d 
                                using(lat, lng) 
                                group by lat, lng) 
                    and a.lng not in 
                        ( select lng 
                          from
                               (
                                 select trunc(DISTANCE_WGS84(#{lat},#{lng}, c.lat, c.lng),3)*1000 as DISTANCE, c.lat, c.lng
						         from brr_toilet c
						         where (c.lat between #{lat}-0.021 and #{lat}+0.021) and (c.lng between #{lng}-0.0246 and #{lng}+0.0246)
						       ) join 
                               (
                                select * 
                                from dayaver
                               ) d using(lat, lng) 
                                 group by lat, lng)
                 )
              where rownum=1
             )
         using(lat, lng)
	</select>
	
	
	<select id="searchSmooth2" parameterType="location" resultType="toilet">
		 select *
         from brr_toilet 
         	  join 
         	  ( select lat,lng 
        	    from
        	    ( select LAT, LNG, DISTANCE, round((MENTOILETBOWLNUMBER+MENHANDICAPTOILETBOWLNUMBER+MENCHILDRENTOILETBOWLNUMBER+LADIESTOILETBOWLNUMBER+LADIESHANDICAPTOILETBOWLNUMBER+LADIESCHILDRENTOILETBOWLNUMBER) / USERCOUNT,1) SMOOTH 
        	      from
        	      ( select lat, lng, distance, count(*) usercount 
        	        from
        	        ( select trunc(DISTANCE_WGS84(#{lat},#{lng}, lat, lng),3)*1000 as DISTANCE, lat, lng
         		      from brr_toilet
         		      where (lat between #{lat}-0.021 and #{lat}+0.021) and (lng between #{lng}-0.0246 and #{lng}+0.0246)
        		    ) join dayaver using(lat, lng)
                      where inputdate between sysdate-1 and sysdate
                      group by LAT, LNG, DISTANCE
                 ) 
                 join brr_toilet using(lat, lng)
                 order by SMOOTH DESC, DISTANCE 
               )
             where rownum=1
             ) 
             using(lat, lng)
	</select>
	
</mapper>
