<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.brr.mapper.GoogleMapsMapper">
	<select id="getNearbyToilet" parameterType="location" resultType="nearbyToilet">
		select * from (
		select toiletNm, toiletType,lnmadr,unisexToiletYn,
		menToiletBowlNumber, menUrineNumber,
		menHandicapToiletBowlNumber,menHandicapUrinalNumber,
		menChildrenToiletBowlNumber,menChildrenUrinalNumber,
		ladiesToiletBowlNumber,
		ladiesHandicapToiletBowlNumber,
		ladiesChildrenToiletBowlNumber,
		institutionNm, phoneNumber,openTime,
		lat, lng,
		trunc(DISTANCE_WGS84(34.969373,127.578384, lat, lng),3)*1000 as DISTANCE
		from brr_toilet
		where (lat between 34.969373-0.007 and
		34.969373+0.007)
		and (lng between 127.578384-0.0082 and
		127.578384+0.0082)
		order by DISTANCE) TMP where rownum &lt; (select
		count(*)from brr_toilet)

	</select>


</mapper>
