<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.brr.mapper.HospitalMapper">

<insert id="insertHospitalInfo" parameterType="hospital">
insert into brr_hospital
(
	dutyName,
    dutyTel1,
    dutyAddr,
    dutyTimeS,
    dutyTimeC,
    dutyTimeSatS,
    dutyTimeSatC,
    dutyTimeSunS,
    dutyTimeSunC,
    lat,
    lng 
)
values
(
	#{dutyName},
	#{dutyTel1},
	#{dutyAddr},
	#{dutyTimeS},
	#{dutyTimeC},
	#{dutyTimeSatS},
	#{dutyTimeSatC},
	#{dutyTimeSunS},
	#{dutyTimeSunC},
	trunc(#{lat},6),
	trunc(#{lng},6)
)
</insert>

<select id="countHospitalInfo" resultType="integer">
select count(*)
from brr_hospital
</select>

<delete id="deleteAllHospitalInfo">
delete from brr_Hospital
</delete>

<select id="GetNearHospitalList" parameterType="hospital" resultType="hospital">
select dutyName,
    dutyTel1,
    dutyAddr,
    dutyTimeS,
    dutyTimeC,
    trunc(DISTANCE_WGS84(#{lat},#{lng}, lat, lng),3)*1000 as DISTANCE
from brr_hospital
where (lat between #{lat}-0.005 and #{lat}+0.005) and (lng between #{lng}-0.01 and #{lng}+0.01)
order by DISTANCE
</select>

</mapper>