<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.brr.mapper.ToiletMapper">

<insert id="insertToiletInfo" parameterType="toilet">
insert into brr_toilet
(
	toiletNm,
    toiletType,
    lnmadr,
    unisexToiletYn,
    menToiletBowlNumber,
    menUrineNumber,
    menHandicapToiletBowlNumber,
    menHandicapUrinalNumber,
    menChildrenToiletBowlNumber,
    menChildrenUrinalNumber,
    ladiesToiletBowlNumber,
    ladiesHandicapToiletBowlNumber,
    ladiesChildrenToiletBowlNumber,
    institutionNm,
    phoneNumber,
    openTime,
    lat,
    lng
)
values
(
	#{toiletNm},
	#{toiletType},
	#{lnmadr},
	#{unisexToiletYn},
	#{menToiletBowlNumber},
	#{menUrineNumber},
	#{menHandicapToiletBowlNumber},
	#{menHandicapUrinalNumber},
	#{menChildrenToiletBowlNumber},
	#{menChildrenUrinalNumber},
	#{ladiesToiletBowlNumber},
	#{ladiesHandicapToiletBowlNumber},
	#{ladiesChildrenToiletBowlNumber},
	#{institutionNm},
	#{phoneNumber},
	#{openTime},
	#{lat},
	#{lng}
)
</insert>


<select id="countToiletInfo" resultType="integer">
select count(*)
from brr_toilet
</select>

</mapper>