<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.brr.mapper.ToiletMapper">

<insert id="insertToiletInfo" parameterType="toilet">
insert into brr_toilet
(
	toiletNm,
    toiletType,
    lnmadr,
    unisexToiletYn,
    menToiletBowlNumber,
    menUrineNumber,
    menHandicapToiletBowlNumber,
    menHandicapUrinalNumber,
    menChildrenToiletBowlNumber,
    menChildrenUrinalNumber,
    ladiesToiletBowlNumber,
    ladiesHandicapToiletBowlNumber,
    ladiesChildrenToiletBowlNumber,
    institutionNm,
    phoneNumber,
    openTime,
    lat,
    lng
)
values
(
	#{toiletNm},
	#{toiletType},
	#{lnmadr},
	#{unisexToiletYn},
	#{menToiletBowlNumber},
	#{menUrineNumber},
	#{menHandicapToiletBowlNumber},
	#{menHandicapUrinalNumber},
	#{menChildrenToiletBowlNumber},
	#{menChildrenUrinalNumber},
	#{ladiesToiletBowlNumber},
	#{ladiesHandicapToiletBowlNumber},
	#{ladiesChildrenToiletBowlNumber},
	#{institutionNm},
	#{phoneNumber},
	#{openTime},
	#{lat},
	#{lng}
)
</insert>


<select id="countToiletInfo" resultType="integer">
select count(*)
from brr_toilet
</select>

<delete id="deleteAllToiletInfo">
delete from brr_toilet
</delete>

<select id="GetToiletInfoByDistance" parameterType="location" resultType="nearbyToilet">
select * from 
	(
		select 
			toiletNm,
    		toiletType,
    		lnmadr,
    		unisexToiletYn,
    		menToiletBowlNumber,
    		menUrineNumber,
    		menHandicapToiletBowlNumber,
    		menHandicapUrinalNumber,
    		menChildrenToiletBowlNumber,
    		menChildrenUrinalNumber,
    		ladiesToiletBowlNumber,
    		ladiesHandicapToiletBowlNumber,
    		ladiesChildrenToiletBowlNumber,
    		institutionNm,
    		phoneNumber,
    		openTime,
    		lat,
    		lng,
    		trunc(DISTANCE_WGS84(trunc(#{lat},6),trunc(#{lng},6), lat, lng),3)*1000 as distance
    	from brr_toilet
		where 
			(lat between trunc(#{lat},6)-0.019 and trunc(#{lat},6)+0.019)
    		and 
    		(lng between trunc(#{lng},6)-0.022 and trunc(#{lng},6)+0.022)
			order by distance
	)  where rownum &lt; (select count(*)from brr_toilet)
</select>

</mapper>